.Rproj.user
.Rhistory
.RData
.Ruserdata
/Index
/LinearExtent.gdb
/kelp_data_synth_results
/kelp_data_sources
*.xml
*.png
*.jpg
*.png
*.txt
*.pdf
/SubdividePolygonsByCountField
/*.csv
/*.pptx
*.tbx
*.aprx
*.stylx
*.ai
/.vscode
/GpMessages
/.ipynb_checkpoints
/.pyHistory
/LienarExtentRGraphs
/LinearExtentWorking.gdb
/kelp_data_synth_results
/floating_kelp_linear_extent.gdb
/linear_extent_lines_polygons.gdb
/__pycache__
/scratch.gdb
/ImportLog
/.backups
/RasterFunctionTemplates
/storymap_figs
/scratch_tables
*.svg 
*.docx



