.Rproj.user
.Rhistory
.RData
.Ruserdata
/Index
/LinearExtent.gdb
/kelp_data_synth_results
/kelp_data_linear_outputs
/kelp_data_sources
/SubdividePolygonsByCountField
/kelp_data_linear_outputs_2025
/.vscode
/GpMessages
/.ipynb_checkpoints
/.pyHistory
/LinearExtentRGraphs
/LinearExtentWorking.gdb
/kelp_data_synth_results
/kelp_data_compiled
/slides
/figures
/floating_kelp_linear_extent.gdb
/linear_extent_lines_polygons.gdb
/__pycache__
/scratch.gdb
/ImportLog
/.backups
/RasterFunctionTemplates
/storymap_figs
/scratch_tables
*.svg 
*.docx
/*.csv
/*.pptx
*.tbx
*.aprx
*.stylx
*.ai
*.zip
*.aix
*.pptx
*.pyc
*.erfh
*.json
*.xml
*.png
*.jpg
*.png
*.txt
*.pdf

